body{
    background-color: white;
}
hr{
    border-style: none;
    border-color: grey;
    border-top-style: dotted ;
    border-color: grey;
    border-width: 3px;
    width: 15%;
}
h1,h3{
    color: #66bfbf;
}